.cardBox {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  top: 70px;
  margin-right: 15px;
  border-radius: 10px;
  padding: 24px;
  box-sizing: border-box;
  text-align: left;
  width: 100%;
}

.cardBox p {
  color: #ffffff;
  font-size: 16px;
  margin: 24px 0;
}

.imgBox {
  border-radius: 40px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBody {
  flex: 1 1;
  margin-top: 24px;
}

.titleBox {
  display: table-caption;
}

.cardBody .titleBox p {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
}

.cardButton a {
  width: 100%;
  display: inline-block;
  position: relative;
  transition: all 0.3s;
  transform: perspective(100px);
}

.cardButton a:hover {
  transform: perspective(100px) scale(1.06, 1.06);
}

.cardButton a button {
  width: 100%;
}

img {
  width: 35px;
  height: 35px;
  opacity: 1;
  visibility: inherit;
}
